@use './typography' as t;
@use './variables' as v;
.footer {
    background-color: v.$color-texto;
    color: v.$color-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 20px 40px;
    font-size: 14px;
    font-family: v.$font-footer;

    span {
        margin: 5px 10px;
    }

    .contenedor-links {
        text-align: right;

        p {
            margin-bottom: 8px;
            font-weight: bold;
        }

        ul {
            display: flex;
            gap: 15px;
        }

        img {
            width: 24px;
            height: 24px;
            display: block;

            &:hover {
                opacity: 0.7;
                transform: scale(1.1);
            }
        }
    }
}