@use './typography' as t;
@use './variables' as v;
.faq-textos {
    h1 {
        font-family: v.$font-header;
        text-align: center;
    }

    p {
        font-family: v.$font-body;
        text-align: center;
        font-size: 18px;
        text-decoration: overline;
        margin-block-end: 30px;
    }
}

.accordion-item {
    font-family: v.$font-body;
}