/* Archivo principal que importa todos los parciales */

@use "./reset";
@use "./typography";
@use "./variables";
@use "./header";
@use "./footer";
@use "./index";
@use "./alquileres";
@use "./contacto";
@use "./preguntas-frecuentes";
@use "./sobre-nosotros";





